.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.backgroundTile {
  width: 100vw;
  height: 100vw;
  background-image: radial-gradient(
      at 43% 20%,
      hsla(210, 100%, 88%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 57% 67%, hsla(200, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 79%, hsla(200, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 22%, hsla(210, 100%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 35%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 63%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(220, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(190, 100%, 75%, 1) 0px, transparent 50%);
  background-image: radial-gradient(
      at 43% 20%,
      hsla(210, 100%, 88%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 57% 67%, hsla(200, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 79%, hsla(200, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 22%, hsla(210, 100%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 35%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 63%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(195, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(220, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(190, 100%, 75%, 1) 0px, transparent 50%);
}

.backgroundTileFlipped {
  composes: backgroundTile;
  transform: rotate(180deg) scaleX(-1);
}

/* @media (prefers-color-scheme: dark) {
  .backgroundTile {
    background-color: hsla(0, 0%, 10%, 1);
    filter: brightness(0.7) saturate(0.8);
  }
} */
