@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  color: #050505;
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.nav a {
  color: #050505;
  text-decoration: none;
  transition: color 0.2s;
}

/* Section Styles */
.section {
  margin-bottom: 4rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

/* Typography */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero .title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.timeline {
  font-size: 0.75rem;
  font-weight: 400;
}

.text {
  line-height: 1.6;
}

/* Cards */
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  padding: 2rem;
  border-radius: 0.5rem;
}

.card.about {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.card.about .hero-image {
  margin: 1rem 1rem 1rem 0;
  border-radius: 10px;
}

/* Footer */
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav {
    gap: 1rem;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .hero {
    text-align: center;
  }
  .card.about {
    flex-direction: column;

    justify-content: center;
  }

  .title {
    font-size: 1.5rem;
    align-self: center;
  }
  .card.about .hero-image {
    align-self: center;
  }
}
