@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  color: #050505;
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* Background */
.page-background {
  width: 100vw;
  height: 100vh;
}

.page-background-tile {
  background-color: hsla(240, 100%, 98%, 1); /* Light blue base */
  background-image: radial-gradient(
      at 43% 20%,
      hsla(210, 100%, 88%, 1) 0px,
      /* Lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 57% 67%,
      hsla(220, 100%, 83%, 1) 0px,
      /* Slightly darker blue */ transparent 50%
    ),
    radial-gradient(
      at 34% 79%,
      hsla(220, 100%, 83%, 1) 0px,
      /* Slightly darker blue */ transparent 50%
    ),
    radial-gradient(
      at 20% 22%,
      hsla(210, 100%, 88%, 1) 0px,
      /* Lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 35%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 63%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 0%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 100%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(200, 100%, 75%, 1) 0px,
      /* Slightly lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      hsla(190, 100%, 75%, 1) 0px,
      /* Cyan-ish blue */ transparent 50%
    );
  background-size: cover;
  background-position: center;
  margin-bottom: -1px;
}

.tile-1 {
  width: 100vw;
  height: 100vh;
  position: absolute; /* Take out of normal flow */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsla(240, 100%, 98%, 1); /* Light blue base */
  background-image: radial-gradient(
      at 43% 20%,
      hsla(210, 100%, 88%, 1) 0px,
      /* Lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 57% 67%,
      hsla(220, 100%, 83%, 1) 0px,
      /* Slightly darker blue */ transparent 50%
    ),
    radial-gradient(
      at 34% 79%,
      hsla(220, 100%, 83%, 1) 0px,
      /* Slightly darker blue */ transparent 50%
    ),
    radial-gradient(
      at 20% 22%,
      hsla(210, 100%, 88%, 1) 0px,
      /* Lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 35%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 63%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 0%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 100% 100%,
      hsla(230, 100%, 71%, 1) 0px,
      /* More saturated blue */ transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(200, 100%, 75%, 1) 0px,
      /* Slightly lighter blue */ transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      hsla(190, 100%, 75%, 1) 0px,
      /* Cyan-ish blue */ transparent 50%
    );
  background-size: cover;
  background-position: center;
  margin-bottom: -1px;
}
.tile-2 {
  width: 100vw;
  height: 100vh;
  position: absolute; /* Take out of normal flow */
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotate(180deg) scaleX(-1);
}
.tile-3 {
  width: 100vw;
  height: 100vh;
  position: absolute; /* Take out of normal flow */
  top: 200%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tile-4 {
  width: 100vw;
  height: 100vh;
  position: absolute; /* Take out of normal flow */
  top: 300%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotate(180deg) scaleX(-1);
  display: none;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.nav a {
  color: #050505;
  text-decoration: none;
  transition: color 0.2s;
}

/* Section Styles */
.section {
  margin-bottom: 4rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

/* Typography */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero .title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.timeline {
  font-size: 0.75rem;
  font-weight: 400;
}

.text {
  line-height: 1.6;
}

/* Cards */
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  padding: 2rem;
  border-radius: 0.5rem;
}

.card.about {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.card.about .hero-image {
  margin: 1rem 1rem 1rem 0;
  border-radius: 10px;
}

/* Footer */
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav {
    gap: 1rem;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .hero {
    text-align: center;
  }
  .card.about {
    flex-direction: column;

    justify-content: center;
  }

  .title {
    font-size: 1.5rem;
    align-self: center;
  }
  .card.about .hero-image {
    align-self: center;
  }
  .tile-4 {
    display: block;
  }
}
