@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  color: #050505;
}

.page-background {
  width: 100vw;
  height: 100vh;
  background-color: hsla(6, 0%, 100%, 1);
  background-image: radial-gradient(
      at 43% 20%,
      hsla(35, 100%, 88%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 57% 67%, hsla(357, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 79%, hsla(357, 100%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 22%, hsla(36, 100%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 35%, hsla(8, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 63%, hsla(8, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(8, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(8, 100%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(333, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(54, 100%, 75%, 1) 0px, transparent 50%);

  /* background-color: #c86767; */
  /* background-image: url("./assets/img/Background_2.png"); */
  background-size: cover;
  background-position: center;
  margin-bottom: -1px;
}

.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.title,
.text,
.nav a,
.subtitle {
  color: #000; /* Makes all text black instead of the previous white/transparent white */
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.nav a {
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
}

.nav a:hover {
  color: #000;
}

.section {
  margin-bottom: 4rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.hero {
  text-align: left; /* Changed from center to left */
  max-width: 800px; /* Adjust this value as needed */
  margin: 0 auto; /* Centers the container */
  padding: 40px 0; /* Adds some vertical spacing */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #050505;
  margin-bottom: 1rem;
  text-align: start;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #050505;
  text-align: start;
}

.subtitle label {
  font-size: 0.75rem;
  font-weight: 400;
  color: #050505;
  text-align: start;
}

.hero .title {
  font-size: 2.5rem; /* Larger font size for the main heading */
  font-weight: 900; /* Extra bold */
  margin-bottom: 1rem;
  line-height: 1.2;
}

.timeline {
  font-size: 0.75rem;
  font-weight: 400;
  color: #050505;
  text-align: start;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  padding: 2rem;
  border-radius: 0.5rem;
  color: #000;

  &.about {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    .hero-image {
      margin: 1rem 1rem 1rem 0;
      border-radius: 10px;
    }
  }
}

.text {
  color: #000;
  line-height: 1.6;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ceneetr;

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 1rem; /* Reduced gap for mobile */
  }

  .nav a {
    font-size: 0.9rem; /* Slightly smaller font on mobile */
  }
  .card.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .hero-image {
      margin: 1rem 1rem 1rem 0;
      border-radius: 10px;
      align-self: center;
    }
  }
}
